<div
  class="main_slider"
  style="background-image: url(assets/images/top_banner.jpg)"
>
  <div class="container fill_height">
    <div class="row align-items-center fill_height">
      <div class="col">
        <div class="main_slider_content">
          <h6 style="color: #ffffff !important">Latest Courses 2023</h6>
          <h1 style="color: #ffffff !important">
            Get up to 30% Off New Courses
          </h1>
          <div class="red_button shop_now_button">
            <a href="#" style="color: #ffffff !important">Enroll Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
