<div class="courses mt-72">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="section_title">
          <h2>Popular Courses</h2>
        </div>
      </div>
    </div>
    <div class="row blogs_container">
      <div class="col-lg-4 blog_item_col">
        <div class="blog_item">
          <div
            class="blog_background"
            style="background-image: url(assets/images/fullstack.jpg)"
          ></div>
          <div
            class="blog_content d-flex flex-column align-items-center justify-content-center text-center"
          >
            <h4 class="blog_title">Learn full stack web development</h4>
            <span class="blog_meta">Author: Sabita | dec 01, 2021</span>
            <a class="blog_more" (click)="proceed()" href="javascript:void(0)">Enroll Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 blog_item_col">
        <div class="blog_item">
          <div
            class="blog_background"
            style="background-image: url(assets/images/mongodb.jpg)"
          ></div>
          <div
            class="blog_content d-flex flex-column align-items-center justify-content-center text-center"
          >
            <h4 class="blog_title">Mongodb</h4>
            <span class="blog_meta">Author: Githiyon | dec 01, 2021</span>
            <a class="blog_more"(click)="proceed()" href="javascript:void(0)">Enroll Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 blog_item_col">
        <div class="blog_item">
          <div
            class="blog_background"
            style="background-image: url(assets/images/blazor.png)"
          ></div>
          <div
            class="blog_content d-flex flex-column align-items-center justify-content-center text-center"
          >
            <h4 class="blog_title">.NET Blazor</h4>
            <span class="blog_meta">Author: Roshni | dec 01, 2021</span>
            <a class="blog_more"(click)="proceed()" href="javascript:void(0)">Enroll Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row blogs_container">
      <div class="col-lg-4 blog_item_col">
        <div class="blog_item">
          <div
            class="blog_background"
            style="background-image: url(assets/images/sql.jpg)"
          ></div>
          <div
            class="blog_content d-flex flex-column align-items-center justify-content-center text-center"
          >
            <h4 class="blog_title">Learn SQL</h4>
            <span class="blog_meta">Author: Sabita | dec 01, 2021</span>
            <a class="blog_more"(click)="proceed()" href="javascript:void(0)">Enroll Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 blog_item_col">
        <div class="blog_item">
          <div
            class="blog_background"
            style="background-image: url(assets/images/c.png)"
          ></div>
          <div
            class="blog_content d-flex flex-column align-items-center justify-content-center text-center"
          >
            <h4 class="blog_title">Learn C</h4>
            <span class="blog_meta">Author: Githiyon | dec 01, 2021</span>
            <a class="blog_more"(click)="proceed()" href="javascript:void(0)">Enroll Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 blog_item_col">
        <div class="blog_item">
          <div
            class="blog_background"
            style="background-image: url(assets/images/python.jpg)"
          ></div>
          <div
            class="blog_content d-flex flex-column align-items-center justify-content-center text-center"
          >
            <h4 class="blog_title">Learn Python</h4>
            <span class="blog_meta">Author: Roshni | dec 01, 2021</span>
            <a class="blog_more"(click)="proceed()" href="javascript:void(0)">Enroll Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Success</h5>
        <button
          type="button"
          class="btn-close"
          (click)="this.formModal.hide();"
        ></button>
      </div>
      <div class="modal-body">
        <h3>Payment success!!</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="this.formModal.hide();">
          OK
        </button>
        <!-- <button type="button" class="btn btn-primary" (click)="this.formModal.hide();">
          Save changes
        </button> -->
      </div>
    </div>
  </div>
</div>
